<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home - Snippetbox</title>
    </head>
    <body>
        <header>
            Snippetbox
        </header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <main>
            Coming soon!
        </main>
        <footer>Powered by <a href="https://golang.org/"></a></footer>
    </body>
</html>